/* --------------- section menu --------------- */

/* Plus icon for profile picture */
.add-profile-picture .plus-icon-profile {
    position: absolute;
    top: 38%;
    left: 40%;
    width: 45px;
    height: 45px;
    color: #1A1A1D;
    z-index: 1;
}

/* Pencil icon for profile picture */
.add-profile-picture .pencil-icon-profile {
    position: absolute;
    color: #1A1A1D;
    bottom: 12px;
    left: 85%;
    width: 22px;
    height: 22px;
    z-index: 1;
}

/* Icon plus for artist name */
.plus-icon-artist-name {
    position: absolute;
    color: #c6b7bb;
    width: 21px;
    height: 21px;
    top: 37%;
    left: 5px;
}

.add-button {
    position: relative;
    background-color: transparent;
    margin-left: 8px;
    border: none;
}

.add-button:hover {
    opacity: 75%;
}

.add-button:active {
    transform: translate(0px, 2px);
}

/* Icon pencil for artist name */
.pencil-icon-artist-name {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 35%;
    left: 25%;
    color: #1A1A1D;
}

.pencil-button {
    position: relative;
    background-color: transparent;
    margin-left: 15px;
    border: none;
}

.pencil-button:hover {
    opacity: 75%;
}

.pencil-button:active {
    transform: translate(0px, 3px);
}

/* --------------- section Studio --------------- */
/* Icon plus */
.plus-icon-studio {
    position: absolute;
    color: #c6b7bb;
    width: 25px;
    height: 25px;
}

.add-button-studio {
    position: relative;
    background-color: transparent;
    margin-left: 15px;
    border: none;
    bottom: 1px;
}

/* --------------- section photo-flash --------------- */
/* Icon plus */
.plus-icon-photo-flash {
    position: absolute;
    color: #c6b7bb;
    width: 25px;
    height: 25px;
}

.add-button-photo-flash {
    position: relative;
    background-color: transparent;
    margin-left: 15px;
    border: none;
    bottom: 1px;
}


/* ---------- Responsive part ---------- */

/* Responsive max width 991px - Tablets in portrait */
@media screen and (max-width: 991px) {
    /* section Studio */
    .plus-icon-studio {
        width: 22px;
        height: 22px;
    }

    .add-button-studio {
        margin-left: 13px;
        bottom: 4px;
    }

    /* section Photo/Flash */
    .plus-icon-photo-flash {
        width: 22px;
        height: 22px;
    }
    
    .add-button-photo-flash {
        margin-left: 13px;
        bottom: 4px;
    }
}

/* Responsive max width 767px - Smartphones */
@media screen and (max-width: 767px) {
    /* section Studio */
    .plus-icon-studio {
        width: 20px;
        height: 20px;
    }

    .add-button-studio {
        margin-left: 10px;
        bottom: 4px;
    }

    /* section Photo/Flash */
    .plus-icon-photo-flash {
        width: 20px;
        height: 20px;
    }
    
    .add-button-photo-flash {
        margin-left: 10px;
        bottom: 4px;
    }
}

/* Responsive max width 480px -  Smartphones */
@media screen and (max-device-width : 480px) {}