/* Section Informations */

/* All the section */
.informations-section {
    color: #ba0a51;
    margin-bottom: 50px;
    margin-top: 120px;
    margin-left: 90px;
}

/* the block of all informations */
.informations-title {
    display: flex;
    flex-flow: row wrap;
}

.informations-title h1 {
    color: #cf0736;
    margin-bottom: 40px;
}

/* .informations-title h1::after {
    content: "";
    border: 2px solid #c6c1c1;
} */

.personal-infos {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

/* Artist informations */
.display-informations {
    display: flex;
    flex-flow: column wrap;
    row-gap: 15px;
    margin-bottom: 15px;
}

.display-informations h2 {
    font-size: 27px;
    font-style: italic;
}

.display-informations h2 span {
    margin-left: 5px;
    font-size: 27px;
    font-style: normal;
    font-weight: bold;
    color: #c6b7bb;
}

.display-informations h2 a {
    margin-left: 5px;
    font-size: 27px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: #c6c1c1;
}

/* Biography part*/
.text-biography{
    margin-left: 20px;
    max-width: 45rem;
    font-size: 27px;
    font-style: normal;
    word-wrap: break-word;
    color: #c6b7bb;    
}

/* Button Ajouter/Modifier */
.add-update-btn {
    margin-left: 25px;
    height: 44px;
    font-size: 20px;
    font-weight: bold;
    color: #6F2232;
    background-color: #c6b7bb;
    border-color: #6F2232;
    margin-top: 2px;
}

.add-update-btn:hover {
    background-color: #c6b7bb;
    color: #6F2232;
    opacity: 80%;
}