/* ---------- Section Tattoo Styles ---------- */
/* Section tattoo styles */
.select-styles {
    color: #c6b7bb;
}
.styles-section h1{
    color: #cf0736;
}
/* form Selectionne tes styles */

.select-styles-container {
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.select-styles-form h2 {
    color: #ba0a51;
    font-size: 34px;
    margin-bottom: 30px;
}
.select-styles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 100%;
    max-height: 20rem;
    font-size: 22px;
    margin-bottom: 40px;
}

.form-check-input:checked {
    background-color: #ba0a51 !important;
    border-color: #930941 !important;
}

.form-check-input {
    background-color: #c6b7bb !important;
    border-color: #930941 !important;
}

.form-check-input:focus {
    border-color: #930940ab !important;
    box-shadow: none !important;
}

.select-styles-validat-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-styles-validat-btn .btn-validate {
    font-size: 20px;
    font-weight: bold;
    color: #6F2232;
    background-color: #c6b7bb;
    border-color: #6F2232;
}

.select-styles-validat-btn .btn-validate:hover {
    opacity: 80%;
}

/* display styles in the page */
.styles-section {
    margin-top: 120px;
    margin-left: 90px;
    width: 800px;
}

.all-styles {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    row-gap: 15px;
    column-gap: 20px;
}
.styles.profile-artist-page {
    background-color: #6F2232;
    border-radius: 30px;
}

.style-item.profile-artist-page {
    color: #c6b7bb;
    padding: 6px 15px;
    font-size: 23px;
    margin: 0;
}
