.card-home-info {
    min-width: 23rem;
    max-width: 67rem;
    height: 68rem;
    margin-bottom: 50px;
}

.card-home-info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MonteCarlo', cursive;
    font-size: 60px;
}

.card-home-info-img {
    width: auto;
    height: 28rem;
}

.card-home-info-body {
    background-image: url(../images/Background-card-info.jpg);
    background-position: center center;
    background-size: cover;
    overflow: hidden auto;
    padding-left: 70px;
    padding-right: 70px;

}

/* ---------- Responsive part ---------- */

@media screen and (max-width: 991px) {
    .card-home-info {
        min-width: 25rem;
        max-width: 40rem;
        height: 55rem;
        margin-bottom: 30px;
    }

    .card-home-info-title {
        font-size: 50px;
    }
    
    .card-home-info-img {
        width: auto;
        height: auto;
    }
    
    .card-home-info-body {
        padding-left: 25px;
        padding-right: 25px;
    
    }
}
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .card-home-info {
        min-width: 10rem;
        max-width: 20rem;
        height: 40rem;
        margin-bottom: 25px;
    }
    
    .card-home-info-title {
        font-size: 45px;
    }
    
    .card-home-info-img {
        width: auto;
        height: auto;
    }
    
    .card-home-info-body {
        padding-left: 10px;
        padding-right: 10px;
    
    }
}