.custom-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
}

.custom-card {
    padding: 10px 8px 10px 8px;
    cursor: pointer;
    width: 23rem;
    height: 36rem;
    background-image: url(../images/Backgroun-card.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 60px;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 13px;
    border-bottom: 1px solid black;
}

.profile-picture{
    height: 125px;
    width: 125px;
    border-radius: 100%;
    border: 1px solid #DCDCDC;
    filter: drop-shadow(12px -2px 5px rgb(91, 86, 86));
}

p.card-artist-name {
    font-size: 40px;
    font-family: 'MonteCarlo', cursive;
}

p.card-fields {
    font-size: 25px;
}

.card-infos {
    padding-left: 10px;
    height: 100px;
}

.card-all-styles {
    display: flex;
    flex-flow: row wrap;
    height: 120px;
    overflow: scroll;
}
.card-styles {
    background-color: #D3D3D3;
    margin: 6px;
    border-radius: 30px;
    height: 35px;
}

.card-style-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 4px 10px 0 10px;
    font-size: 16px;
}