/* --- display in the page --- */
.custom-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* --------- Component DisplayArtists - display all artists in the artist page --------- */
/* --- Formatting Card in the page --- */
.custom-card.display-artist {
  padding: 8px 6px;
  width: 21rem;
  height: 37rem;
  background-image: url(../images/Backgroun-card.jpg);
  background-position: center center;
  background-size: cover;
  flex: 0 0 calc(33.33% - 30px);
  margin: 15px;
  overflow: hidden auto;
}

.custom-card.display-artist p {
  margin: 0;
}

/* Cart Title - header */
.card-title.display-artist {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 13px;
  border-bottom: 1px solid black;
}

.profile-picture.display-artist {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 1px solid #DCDCDC;
  filter: drop-shadow(10px -2px 5px rgb(91, 86, 86));
}

.card-artist-name {
  font-size: 38px;
  font-family: 'MonteCarlo', cursive;
}

/* Card under title */
.card-fields.display-artist {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

/* Button consulter fiche artiste */
.consult-artist.display-artist {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.btn-consult-artist.display-artist {
  display: flex;
  align-items: center;
  background-color: none;
  border: 2px solid #168d8f;
  color: black;
  border-radius: 20px;
  padding: 2px 7px 4px 7px;
  font-size: 18px;
  font-weight: bold;
}

.btn-consult-artist.display-artist:hover {
  opacity: 80%;
}

/* Address */
.studio-informations.display-artist {
  margin-left: 10px;
}

.block-address-informations.display-artist {
  display: flex;
  align-items: flex-start;
}

.block-address-informations.display-artist svg {
  width: 21px;
  height: 21px;
  margin-right: 10px;
  margin-top: 6px;
}

.address-studio.display-artist p {
  margin-bottom: 8px;
}

.address-studio.display-artist .studio-name {
  font-weight: bold;
  font-size: 22px;
}

.website-icon-info.display-artist {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.website-icon-info.display-artist svg {
  width: 23px;
  height: 23px;
  margin-right: 9px;
}

.studio-separation.display-artist {
  height: 2px;
  width: 70%;
  border-bottom: 1px solid black;
  margin: 10px 0 10px 30px;
}

/* Styles */
.card-all-styles.display-artist {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}
.card-styles.display-artist {
  background-color: #D3D3D3;
  margin: 6px;
  border-radius: 30px;
  height: 35px;
}

.card-style-item.display-artist {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 4px 10px 0 10px;
  font-size: 16px;
}

/* ---------- Responsive part ---------- */
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .custom-page {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
  }

  .custom-card.display-artist {
      padding: 8px 5px 8px 5px;
      max-width: 18rem;
      height: 36rem;
      margin: 10px;
  }

  /* Cart Title - header */
  .card-title.display-artist {
      flex-direction: column;
      padding-bottom: 8px;
      gap: 10px;
  }

  .profile-picture.display-artist {
      height: 100px;
      width: 100px;
      filter: drop-shadow(8px -2px 5px rgb(91, 86, 86));
  }

  .card-artist-name {
      font-size: 38px;
  }

  .card-fields.display-artist {
      font-size: 22px;
  }

  .address-studio.display-artist .studio-name {
      font-size: 20px;
  }
}

/* --------- Component DisplayStudio - display all studios in the studios page --------- */
.custom-page.display-studio {
  margin-top: 50px;
}

/* --- Formatting Card in the page --- */
.custom-card-body.card-body {
  position: relative;
}
.custom-card.display-studio {
  padding: 8px 6px;
  width: 20rem;
  height: 27rem;
  background-image: url(../images/Backgroun-card.jpg);
  background-position: center center;
  background-size: cover;
  flex: 0 0 calc(33.33% - 30px);
  margin: 15px;
  overflow: hidden auto;
  border: 2px solid #168d8f;
  border-radius: 15px;
}

.custom-card.display-studio p {
  margin: 0;
}

/* Cart Title - header */
.card-title.display-studio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-studio-name {
  text-align: center;
  font-size: 40px;
  font-family: 'MonteCarlo', cursive;
}

/* Card under title */

/* Button consulter fiche artiste */
.consult-artist.display-studio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.btn-consult-artist.display-studio {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  background-color: none;
  border: 2px solid #168d8f;
  color: black;
  border-radius: 20px;
  padding: 2px 7px 4px 7px;
  font-size: 18px;
  font-weight: bold;
}

/* address */
.block-address-informations.display-studio {
  display: flex;
  align-items: flex-start;
}

.block-address-informations.display-studio svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: 3px;
}

.address-studio.display-studio p {
  font-size: 20px;
  margin-bottom: 8px;
}

.website-icon-info.display-studio {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

.website-icon-info.display-studio svg {
  width: 26px;
  height: 26px;
  margin-right: 9px;
  margin-top: 3px;
}

.website-icon-info.display-studio p {
  font-size: 20px;
}

.separation.display-studio {
  height: 2px;
  width: 70%;
  border-bottom: 1px solid black;
  margin: 20px 0 20px 30px;
}

/* ---------- Responsive part ---------- */




/* --------- Component DisplayStyles - display all styles in the styles page --------- */

/* --- display in the page --- */
.custom-page.styles {
  margin-top: 50px;
}

/* --- Formatting Card in the page --- */
.custom-card.display-styles {
  padding: 8px 6px;
  width: 21rem;
  height: 30rem;
  background-image: url(../images/Backgroun-card.jpg);
  background-position: center center;
  background-size: cover;
  flex: 0 0 calc(33.33% - 30px);
  margin: 15px;
  overflow: hidden auto;
}

.card-title.display-styles{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-family: 'MonteCarlo', cursive;
  padding-bottom: 13px;
  border-bottom: 1px solid black;
}

.card-description.display-styles {
  padding: 0 10px 30px 10px;
  font-size: 20px;
}