.custom-styles-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
}

.custom-card.display-styles {
    padding: 10px 8px 10px 8px;
    width: 22rem;
    height: 36rem;
    background-image: url(../images/Backgroun-card.jpg);
    background-position: center center;
    background-size: cover;
    flex: 0 0 calc(33.33% - 30px);
    margin: 15px;
}

.card-title.display-styles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'MonteCarlo', cursive;
}

.card-description.display-styles {
    padding: 0 10px 0 10px;
}