.title-pages {
    color: #DCDCDC;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'MonteCarlo Regular';
    font-size: 55px;
}

.card-home {
    display: flex;
    justify-content: center;
}

/* Responsive Title page H1 max width 767px - Smartphones */
@media screen and (max-width: 767px) {
    .title-pages {
        font-size: 48px;
    }
}