.home-title {
    color: #DCDCDC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.card-home {
    display: flex;
    justify-content: center;
}