/* -------- Search Bar -------- */

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
 /* Formatting the form */
.search-bar-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    border: 2px solid #168d8f;
    border-radius: 45px;
    padding: 13px 20px;
}

/*Fromating input and select */
.search-input, 
.search-select {
    height: 42px;
    border-radius: 20px;
    background-color: #d6f5f0;
    border: 2px solid #168d8f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    padding-left: 12px;
}

.search-input::placeholder {
    color: black;
    opacity: 1;
}

/* indivudual input and select */
.search-input.artist-name {
    width: 180px;
}

.search-input.citie,
.search-select.department,
.search-select.region {
    width: 190px;
}

.search-select.styles {
    width: 150px;
}

/* Button submit */
.search-btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #168d8f;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    font-size: 28px;
}


.search-btn-submit:hover {
    opacity: 80%;
}

/* Responsive search bar max width 1199px - Tablets in landscape */
@media screen and (max-width: 1199px) {
    .search-bar-form {
        max-width: 630px;
        border-radius: 65px;
        padding: 13px 0;
    }
}

/* Responsive search bar max width 991px - Tablets in portrait */
@media screen and (max-width: 991px) {
    .search-input, 
    .search-select {
        height: 38px;
        border-radius: 20px;
        font-size: 18px;
    }
}

/* Responsive Navbar max width 767px - Smartphones */
@media screen and (max-width: 767px) {
    .search-bar-form {
        justify-content: flex-start;
        column-gap: 30px;
        padding: 15px 30px;
        width: 455px;
    }

    .search-input.artist-name,
    .search-select.styles,
    .search-input.citie,
    .search-select.department,
    .search-select.region {
        width: 180px;
    }
}

/* Responsive search bar min width 320px max width 480px - Smartphone */
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .search-bar-form {
        display: flex;
        flex-wrap: column;
        justify-content: center;
        align-items: center;
        max-width: 225px;
        row-gap: 15px;
        border: 2px solid #168d8f;
    }
    .search-input.artist-name,
    .search-select.styles,
    .search-input.citie,
    .search-select.department,
    .search-select.region {
        min-width: 180px;
    }
}
