*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Ysabeau Office Regular';
}

body {
    background-image: url(../src/images/background3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

p {
    font-family: 'Ysabeau Office Regular';
}

/* general font */
@font-face {
    font-family: 'Ysabeau Office Regular';
    src: local('Ysabeau Office Regular'), 
    url('../src/fonts/Ysabeau_Office/static/YsabeauOffice-Regular.ttf') format('truetype');
}

/* font for title pages */
@font-face {
    font-family: 'MonteCarlo Regular';
    src: local('MonteCarlo Regular'), 
    url('../src/fonts/MonteCarlo/MonteCarlo-Regular.ttf') format('truetype');
}

/* font for the logo title */
@font-face {
    font-family: 'Ruthie Regular';
    src: local('Ruthie Regular'), 
    url('../src/fonts/Ruthie/Ruthie-Regular.ttf') format('truetype');
}
