/* ---------- Navbar ---------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  min-height: 150px;
  border-bottom: 2px solid #168d8f;
}
/* Toggle Button  */
.btn-menu-toggle {
  display: none;
}

/* Logo */
.nav-links-logo {
  text-decoration: none;
}

.logo-title {
  font-family: 'Ruthie Regular';
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: red;
  cursor: pointer;
  margin: 0;
}

/* List of links */
.navbar-menu {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  column-gap: 18px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.nav-item {
  list-style: none;
  margin: 0;
}

.nav-item .nav-links {
  text-decoration: none;
  color: #DCDCDC;
  font-size: 25px;
}

/* Nav connection button */
.navbar-connection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-artist {
  color: white;
  font-size: 18px;
}

.button-connect {
  display: flex;
  gap: 10px;
}

/* Responsive Navbar max width 1199px - Tablets in landscape */

@media screen and (max-width: 1199px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 15px;
    left: 0;
  }

  .navbar-menu {
    margin-top: 50px;
    margin-right: 50px;
  }

  .navbar-connection {
    position: absolute;
    right: 0;
  }
}

/* Responsive Navbar max width 991px - Tablets in portrait */

@media screen and (max-width: 991px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 15px;
    left: 0;
  }

  .navbar-menu {
    margin-top: 50px;
  }

  .navbar-connection {
    position: absolute;
    right: 0;
  }

  .nav-item .nav-links {
    font-size: 23px;
  }

  .logo-title {
    font-size: 48px;
  }
}

/* Responsive Navbar max width 767px - Smartphones */

@media screen and (max-width: 767px) {
  .navbar {
    min-height: 100px;
  }
  .navbar-menu {
    display: none;
  }

  .navbar-connection {
    display: none;
  }

  /* Formatting toggle button before click */
  .btn-menu-toggle {
    display: block;
    color: #DCDCDC;
    position: absolute;
    right: 4%;
    top: 15%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
  }

  /* formatting close menu button*/
  .btn-close-toggle {
    display: block;
    color: #DCDCDC;
    position: absolute;
    right: 4%;
    top: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
  }

  /* Toggle active */
  .menu-to-toggle.active {
    background-color: #1A1A1D;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #DCDCDC;
  }
  .navbar.active {
    display: block;
    height: 100%;
    border-bottom: none;
  }

  .logo.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #DCDCDC;
    }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    column-gap: 0;
    margin: 20px auto 20px auto;
    padding-top: 20px;
  }

  .navbar-connection.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top: 1px solid #DCDCDC;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}

/* Responsive Navbar max width 480px -  Smartphones */
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .logo-title {
    font-size: 43px;
  }
}
