.title-connection-page{
  color: #DCDCDC;
  text-align: center;
  margin-top: 50px;
}

/* -------- Modal for registration and login -------- */
.modal-registration-login {
  top: 80px;
  margin-bottom: 100px;
}
.inside-modal-registration-login {
  background: lightgray;
  border-radius: 5px;
}

.modal-body.body-registration {
  margin-left: 10px;
  margin-right: 10px;
}

.modal-body.body-registration p {
  color: red;
}

.red-asterisk {
  color: red;
}

.error-message {
  font-size: 12px;
  color: red;
}

.custom-btn {
  font-size: 18px;
}

/* Connexion component */
.modal.show-connexion {
  display: block;
  top: 80px;
}

.nav-links-accueil {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-bottom: 20px;
  font-size: 17px;
}